<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- FONTS AWESOME -->
    <script src="https://kit.fontawesome.com/9a7367c1c6.js" crossorigin="anonymous"></script>
    <title>Alvarez Mia</title>
</head>
<body>
    <header>
        <nav class="header_nav">
            <div class="logo">
                <h2>Alvarez Mía</h2>
                <h4>Fullstack Jr. Developer</h4>
            </div>
            <img src="../../public/icons/9.png" alt="">
            <ul class="section_nav">
                <li><a href="">Soft Skills</a></li>
                <li><a href="">Hard Skills</a></li>
                <li><a href="">My work</a></li>
                <li><a href="">Contact me!</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- ABOUT ME -->
        <section class="about_me">
            <h4>About Me</h4>
            <article>
                <img class="foto_perfil" src="../../public/img/IMG_20240919_131047_135-removebg-preview.png" alt="foto-de-perfil">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam fugit nulla iste vero corporis laboriosam, molestiae dolorum distinctio hic officiis alias quis deleniti obcaecati at consequuntur voluptas doloribus ea deserunt.</p>
            </article>
            
        </section>
        <!-- SOFT SKILLS -->
        <section class="soft_skills">
            <h4>Soft Skills</h4>
            <article>
                <img src="../../public/img/responsabilidad__1_-removebg-preview.png" alt="palabras">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia dolorum laudantium culpa deserunt at error et architecto. Laborum et sit quisquam reprehenderit? Et expedita consequuntur quod voluptatum est beatae.</p>
            </article>
        </section>
        <!-- HARD SKILLS -->
        <section class="hard_skills">
            <h4>Hard Skills</h4>
            <article>
                <img src="../../public/img/hardSkills-removebg-preview (1).png" alt="gráfico-circular">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus omnis earum incidunt beatae laborum laudantium aut? Harum doloribus mollitia dolores quisquam consequuntur. Mollitia, blanditiis optio explicabo eum ab amet odio!</p>
            </article>
        </section>
        <!-- MY WORK -->
        <section class="my_work">
            <h4>My Work</h4>
            <ul class="link_trabajos">
                <li><a href="">Website de venta de productos tangibles ("Cinnamorrol's Cotton Candy Cosmos")</a></li>
                <li><a href="">Website de venta de productos tangibles ("Mercado Liebre")</a></li>
                <li><a href="">Website de venta de indumentaria educativa</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <!-- CONTACT ME -->
        <section class="contact_me">
            <h4 class="contact_title">Contact Me!</h4>
            <form action="" method="get">
                <input class="nombre_apellido" type="text" name="name" id="name" placeholder="Nombre y apellido">
                <select name="contacto_preferencia" id="contacto">
                    <option value="">Contacto de preferencia</option>
                    <option value="Correo">Correo</option>
                    <option value="Discord">Discord</option>
                    <option value="Móvil">Móvil</option>
                    <option value="LinkedIn">LinkedIn</option>
                </select>
                <input class="contacto" type="text" placeholder="Contacto preferido">
                <textarea name="texto_usuario" id="texto_usuario" rows="4" cols="15a" placeholder="¿Qué te motiva a que nos pongamos en contacto?"></textarea>
                <input class="enviar_boton" type="button" value="Enviar">
            </form>
        </section>
    </footer>
</body>
</html>